@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "OpenSansCondensedLight";
  src: url("/fonts/Open Sans Condensed/OpenSansCondensedLight.eot");
  src: url("/fonts/Open Sans Condensed/OpenSansCondensedLight.eot") format("embedded-opentype"), url("/fonts/Open Sans Condensed/OpenSansCondensedLight.woff2") format("woff2"), url("/fonts/Open Sans Condensed/OpenSansCondensedLight.woff") format("woff"), url("/fonts/Open Sans Condensed/OpenSansCondensedLight.ttf") format("truetype"), url("/fonts/Open Sans Condensed/OpenSansCondensedLight.svg#OpenSansCondensedLight") format("svg");
}
html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  width: auto;
  height: 100%;
  min-height: 100%;
}
body .container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  height: 230px;
  width: 100%;
  background-color: #dcdcdc;
}
header .header {
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}
header .header .header_logo {
  float: left;
  margin-top: 65px;
}
header .header .header_logo img {
  width: 273px;
  height: 100px;
}
header .header .header_tel {
  float: right;
  width: 260px;
  height: 90px;
  margin-top: 65px;
}
header .header .header_tel a {
  text-decoration: none;
  color: #767676;
  font-family: "OpenSansCondensedLight";
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 46px;
}

nav {
  height: 80px;
  width: 100%;
  text-align: center;
  background-color: #777777;
}
nav ul {
  display: inline-block;
  width: 980px;
  margin: 0 auto;
  padding: 25px 10px;
  list-style: none;
  white-space: nowrap;
}
nav ul li {
  display: inline-block;
  border-right: solid white 2px;
  padding: 0 20px;
  white-space: nowrap;
}
nav ul li a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 30px;
}
nav ul li :hover {
  text-decoration: underline 2px white;
}
nav ul :last-of-type {
  border: none;
}

.slider {
  height: 400px;
  width: 100%;
  background-color: #f8f8f8;
  background-image: url("/img/slider_img.png");
  background-position: center;
}

main {
  height: 560px;
  width: 980px;
  padding: 0 10px;
  margin: 30px auto 195px auto;
}
main .news_block {
  float: left;
  width: 260px;
  height: auto;
  background-color: #777777;
  color: white;
  padding: 0 55px 100px 35px;
  margin-right: 60px;
}
main .news_block h2 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  margin: 0;
  padding: 20px 0;
}
main .news_block .news_info {
  padding-bottom: 25px;
  max-height: 91px;
}
main a {
  display: inline-block;
  text-decoration: none;
  color: white;
  hyphens: auto;
}
main .archive_news {
  float: right;
  text-decoration: underline;
}
main .article {
  width: 570px;
  height: auto;
  color: #767676;
  float: right;
  hyphens: auto;
}
main .article h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 30px 0;
}

footer {
  margin-top: auto;
  height: 220px;
  width: 100%;
  color: white;
  background-color: #777777;
}
footer .footer_content {
  width: 980px;
  margin: 0 auto;
  padding: 50px 10px 0 10px;
}
footer .footer_content .copyright {
  float: left;
  margin-right: 150px;
}
footer .footer_content .copyright a {
  text-decoration: none;
  color: white;
}
footer .footer_content .footer_menu {
  display: inline-block;
  list-style: none;
  margin: 0;
}
footer .footer_content .footer_menu a {
  color: white;
  line-height: 26px;
}
footer .footer_content .dev_company {
  float: right;
}
footer .footer_content .dev_company img {
  float: left;
  margin-top: 5px;
}
footer .footer_content .dev_company a {
  margin-left: 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
}
footer .footer_content .dev_company a span {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
